<template>
  <div class="cp-hero">
    <figure :class="'sprite sprite--'+hero.state">
      <img :src="'/assets/sprite/' + hero.sprite">
    </figure>
  </div>
</template>
<script>
import Hero from "@/classes/Hero.js";
export default {
  name: "Hero",

  props: {
    hero: { type: Hero }
  },
  methods: {}
};
</script>
<style lang="scss" scoped>
.cp-hero{
    width: auto;
    margin: 0;
    &2{
      transform: scaleX(-1);
    }
  }
.sprite {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  img {
    position: absolute;
    width: 200%;
    height: auto;
  }
  &--idle img {
    top: 0;
    left: 0;
  }
  &--dead img {
    bottom: 0;
    left: 0;
  }
  &--punch img {
    top: 0;
    right: 0;
  }
}
</style>


