<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Fight msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import Fight from "./components/Fight.vue";

export default {
  name: "app",
  components: {
    Fight
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
